$pinkColor: #DD5471;
$backgroundColor: rgb(255,206,216);
$backgroundColorRG: radial-gradient(circle, rgba(255,206,216,1) 0%, rgba(220,243,255,1) 100%);
$ContactUsFrameBackground: linear-gradient(to right, white 0%, white 75.5%,#183A4A 24.5%,#183A4A 100%);
$ContactUsFrameShadow: 0px 141px 200px -80px rgba(25, 58, 75, 0.3);
$borders: #ccc;


